In [2]:
import pandas as pd

In [3]:
hotels = pd.read_csv('data/hotels.csv')
hotels.head(3)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,10/18/2016,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[' Leisure trip ', ' Solo traveler ', ' Modern...",289 day,48.845377,2.325643

In [4]:
hotels['review_date'] = pd.to_datetime(hotels['review_date'])

In [5]:
tags = dict()
for cell in hotels['tags']:
    cell = cell.replace('[', '').replace(']', '')\
        .replace('\' ', '').replace(' \'', '').split(', ')
    for tag in cell:
        if tag in tags.keys():
            tags[tag] += 1
        else:
            tags[tag] = 1
        

sorted_tags = {k: v for k, v in sorted(tags.items(), key=lambda item: item[1], reverse=True)}
print(len(sorted_tags))
sorted_tags

2368

{'Leisure trip': 313593,
 'Submitted from a mobile device': 230778,
 'Couple': 189212,
 'Stayed 1 night': 145373,
 'Stayed 2 nights': 100263,
 'Solo traveler': 81235,
 'Stayed 3 nights': 72000,
 'Business trip': 61989,
 'Group': 49088,
 'Family with young children': 45836,
 'Stayed 4 nights': 35748,
 'Double Room': 26386,
 'Standard Double Room': 24151,
 'Superior Double Room': 23550,
 'Family with older children': 19802,
 'Deluxe Double Room': 18623,
 'Double or Twin Room': 16824,
 'Stayed 5 nights': 15611,
 'Standard Double or Twin Room': 13062,
 'Classic Double Room': 12716,
 'Superior Double or Twin Room': 10238,
 '2 rooms': 9287,
 'Stayed 6 nights': 7399,
 'Standard Twin Room': 7325,
 'Single Room': 7227,
 'Twin Room': 6279,
 'Stayed 7 nights': 5549,
 'Executive Double Room': 4763,
 'Classic Double or Twin Room': 4576,
 'Superior Twin Room': 4540,
 'Club Double Room': 4485,
 'Deluxe Double or Twin Room': 4465,
 'Queen Room': 4071,
 'Deluxe King Room': 3993,
 'Superior Queen Room': 3686,
 'Standard Single Room': 3470,
 'Junior Suite': 3392,
 'Triple Room': 3385,
 'Classic Room': 3322,
 'Superior Room': 3292,
 'Superior King Room': 3208,
 'Standard Room': 3171,
 'Deluxe Room': 2956,
 'Double Guest Room': 2629,
 'Standard Queen Room': 2611,
 'Deluxe Single Room': 2469,
 'Small Double Room': 2373,
 'Queen Guest Room': 2355,
 'Deluxe Twin Room': 2309,
 'King Room': 2135,
 'Basic Double Room': 2125,
 'Comfort Double Room': 2005,
 'Executive King Room': 1962,
 'Stayed 8 nights': 1910,
 'Small Queen Room': 1890,
 'Comfort Double or Twin Room': 1832,
 'Double or Twin Room 1 2 Adults': 1812,
 'Standard Double Room without Window': 1808,
 'Classic Twin Room': 1798,
 'Family Room': 1651,
 'Twin Guest Room': 1643,
 'Travelers with friends': 1630,
 'Suite': 1404,
 'Superior King or Twin Room': 1331,
 'Deluxe King or Twin Room': 1234,
 'Deluxe Double': 1232,
 'King Guest Room': 1202,
 'Cosy Double Room': 1191,
 'Executive Double or Twin Room': 1061,
 'Standard Double Twin Room': 1060,
 'With a pet': 1045,
 'Club Twin Room': 1039,
 'Standard Triple Room': 1022,
 'Double Hilton Guestroom': 1001,
 'Double Room Non Smoking': 977,
 'Classic King Room': 977,
 'Stayed 9 nights': 966,
 'Executive Room': 940,
 'Standard': 934,
 'Economy Double Room': 880,
 'Quadruple Room': 873,
 'Large Double Room': 867,
 'Superior Single Room': 846,
 'Executive Twin Room': 825,
 'Luxury Double Room': 824,
 'Superior Double Room with Internal View': 821,
 'Double Room with Two Double Beds': 816,
 'Classic Single Room': 803,
 'Dorsett Double Room': 787,
 'Premier Double Room': 765,
 'Studio': 728,
 'Superior Double or Twin Room 1 2 Adults': 723,
 'Twin Hilton Guest Room': 711,
 'Family Room 2 Adults 2 Children': 699,
 'Compact Double Room': 685,
 'Standard Room with 1 Double Bed': 677,
 'City King or Twin Room': 676,
 'Studio King Family': 664,
 'Stayed 10 nights': 663,
 'Classic Queen Room': 591,
 'Deluxe Queen Room': 566,
 'City King Room': 551,
 'Queen or Two Double Beds Room': 549,
 'Standard Double': 547,
 'Superior Triple Room': 546,
 'Deluxe Triple Room': 544,
 'Comfort Room': 544,
 'Studio Suite': 543,
 'Queen Room Non Smoking': 526,
 'Premium Double or Twin Room': 526,
 'Superior Twin Room with Internal View': 518,
 'Twin Room Non Smoking': 509,
 'King Hilton Guest Room': 490,
 'One Bedroom Suite': 489,
 'Double Room 1 Adult': 483,
 'Double Room with View': 478,
 'Art King Room': 467,
 'Executive King Room with Lounge Access': 452,
 'Standard King Room': 450,
 'Premium Double Room': 449,
 'Deluxe Room Barlow Wing': 446,
 'Double Room with Courtyard View': 442,
 'Deluxe King Room with River View': 414,
 'Studio Double Family': 395,
 'Double or Twin Room Non Smoking': 394,
 'Double Room 1 2 Adults': 393,
 'Queen Room Mobility Access': 390,
 'City Twin Room': 379,
 '3 rooms': 360,
 'Double Room with Sofa Bed': 358,
 'Cosy Single Room': 356,
 'Standard Double Room No Window': 348,
 'Room Selected at Check In': 321,
 'Business Double or Twin Room': 321,
 'Superior Shard King': 308,
 'Stayed 11 nights': 306,
 'Comfort Triple Room': 304,
 'Deluxe King Room Balcony with Eiffel Tower View': 303,
 'Superior Double Room Disability Access': 300,
 'Double or Twin Room with Spa Access': 296,
 'Double Deluxe Room': 290,
 'Deluxe King Room with City View': 289,
 'Double Room with Spa Bath': 288,
 'Superior Room with 2 Single Beds': 288,
 'Double Room with Terrace': 285,
 'Deluxe with Two Double Beds': 280,
 'Deluxe King Room with Stadium View': 279,
 'Club Single Room': 278,
 'Standard Double Room with Bridge View': 271,
 'Double or Twin Ground Floor': 270,
 'Standard Room with 1 Single Bed': 268,
 'One Bedroom Apartment': 264,
 'Queen Room with Mobility Access': 259,
 'Deluxe One Bedroom Apartment': 258,
 'Deluxe Double Room with Two Double Beds': 252,
 'Double Room with City View': 251,
 'Double Room with Single Bed': 251,
 'Basic Single Room': 241,
 'Duplex Double Room': 234,
 'Luxury Room': 233,
 'Small Single Room': 233,
 'Large Twin Room': 231,
 'Standard Room with Queen Bed': 231,
 'Executive Family Room': 231,
 'Comfort Twin Double Room': 231,
 'Standard Room with Spa access': 227,
 'Deluxe Double or Twin Room with Canal View': 226,
 'Deluxe Double Room 1 2 Adults': 225,
 'Superior Double Twin Room': 225,
 'Double Room with Sofa Bed Non Smoking': 224,
 'Luxury Suite': 224,
 'Standard Room with 2 Single Beds': 223,
 'Superior Double Room with City View': 222,
 'Queen Hilton Guest Room': 221,
 'Stayed 12 nights': 217,
 'Superior Double or Twin Room with View': 216,
 'Executive Double Room River View': 214,
 'Wonderful Double or Twin Room': 214,
 'Standard Room 1 2 adults': 210,
 'Special Offer Double Room': 210,
 'Superior': 209,
 'Double Room with Balcony': 209,
 'Superior Room with Queen size bed and Sofa Bed': 205,
 'Double Studio': 204,
 'Standard Quadruple Room': 204,
 'Classic Triple Room': 204,
 'Superior Deluxe Room': 202,
 'Classic Double or Twin Room with Spa Access': 202,
 'Queen Guest Room with Sofa Bed': 200,
 'Deluxe Double and Single Room': 200,
 'Superior Double Room with Terrace': 198,
 'Business Double Room': 197,
 'Deluxe King Room with Balcony': 194,
 'Superior Room with Queensize Bed and double couch 2 adults 2 children': 193,
 'Double Room with Street View': 193,
 'Double or Twin Room with City View': 192,
 'Double Hilton Deluxe Room': 188,
 'Double or Twin Room with Courtyard View': 185,
 'Double or Twin Room with Terrace': 185,
 'Stayed 14 nights': 184,
 'Deluxe Double Room with View': 179,
 'Superior Double or Twin Room with Terrace': 179,
 'Superior Double': 177,
 'Standard Family Room': 177,
 'Quality Double or Twin Room': 176,
 'Privilege Double Room': 175,
 'Stayed 13 nights': 174,
 'Double or Twin Room with View': 174,
 'King Double Room': 173,
 'Camper Room': 173,
 'Double or Twin Room with Extra Bed': 173,
 'King Double or Twin Room': 173,
 'Studio Triple': 172,
 'Superior Room with Queen Bed Sofa': 172,
 'Large Room': 171,
 'Deluxe King with Balcony': 170,
 'Superior King Room Barlow Wing': 169,
 'Triple Room 2 Adults 1 Child': 168,
 'Standard Double or Twin Room with Balcony': 168,
 'Double Room with Eiffel Tower View': 165,
 'Wonderful Room': 164,
 'Prestige Double Room': 164,
 'Standard Suite': 164,
 'Junior Double Room': 163,
 'Double Room with Public Transport Ticket': 163,
 'Studio King': 161,
 'Chelsea Double Suite': 161,
 'Studio Double Room': 157,
 'Classic Room with Courtyard View': 156,
 'Executive Single Room': 156,
 'Special Offer Queen Room': 156,
 'Cabin Single Room': 154,
 'Double or Twin Room with Balcony': 152,
 'Family Suite': 152,
 'Double Room with Extra Bed': 150,
 'Executive Suite': 149,
 'Urban Double or Twin Room': 147,
 'Superior Double Room with Spa Access': 147,
 'Double Suite': 146,
 'Superior Double Room with Balcony': 143,
 'Junior Suite 2 Adults': 143,
 'Deluxe Guest Room': 143,
 'Superior Suite with 1 Double Bed and 1 Single Bed': 143,
 'Dalston King': 142,
 'Family Room 3 Adults': 140,
 'Executive Queen Room with Lounge Access': 139,
 'Economy Twin Room': 139,
 'Club Room': 138,
 'Premier King Room with City View': 138,
 'Superior Room with Spa access': 137,
 'Queen Double Room': 136,
 'Double Room Annex': 136,
 'Single Room with Shower': 135,
 'Two Bedroom Apartment': 133,
 'Double Room 2 Adults': 133,
 'Superior King Room with Sofa Bed': 133,
 'Family Room 4 Adults': 132,
 'Standard Twin Room with Bridge View': 132,
 'Superior Room with 1 Queen Bed': 131,
 'Superior Queen Room with Sofa': 131,
 'Deluxe Studio': 130,
 'Double Room Disability Access': 129,
 'Large Comfort Double or Twin Room': 129,
 'Double or Twin Room with Sea View': 128,
 'Family Room with sofa bed': 127,
 'Comfort Twin Room': 127,
 'Superior Double Room with Two Double Beds': 126,
 'Grand Deluxe Double or Twin Room': 124,
 'Two Connecting Double Rooms': 123,
 'Deluxe Suite': 122,
 'Superior King Room Eiffel Tower View': 122,
 'Executive Studio': 122,
 'Classic Double or Twin Room with City View': 121,
 'Signature Luxury King with Balcony': 120,
 'Deluxe Double or Twin Room with City View': 119,
 'Queen Hilton Superior Room': 118,
 'Queen Room with Sofa Bed': 116,
 'Family Junior Suite 3 Adults 1 Child': 116,
 'Superior Family Room': 115,
 'Deluxe Family Room': 115,
 'Superior Studio with City View': 115,
 'Standard Double Room with View Terrace': 113,
 'Executive Studio Suite': 113,
 'Twin Room Disability Access': 112,
 'City Room': 112,
 'Deluxe Junior Suite': 112,
 'Deluxe Double Studio': 111,
 'Executive Club Double Room': 111,
 'Souterraine Double or Twin Room': 110,
 'Two Connecting Rooms': 110,
 'Premier Single Room': 110,
 'Classic King Twin Room': 109,
 'Superior Twin Room Barlow Wing': 109,
 'Deluxe Double or Twin Room 1 2 Adults': 109,
 'Club King Room': 109,
 'Superior Room with Queen Bed': 108,
 'Standard Room with Double Bed and Sofa Bed': 107,
 'Room with Ramblas View': 107,
 'Standard Queen Room with Sofa Bed': 107,
 'Executive Studio City View Family': 105,
 'River View Deluxe': 104,
 'Double Room with River View': 104,
 'Economy Single Room': 104,
 'Nhow Double or Twin Room': 104,
 'King Deluxe Guest Room': 103,
 'Superior Double Room with 1 Double Bed and 1 Sofa Bed 2 places': 103,
 'Executive Triple Room': 103,
 'King Room Non Smoking': 103,
 'Special Offer Superior Double Room': 102,
 'Junior Suite with Spa Access': 102,
 'Deluxe One Bedroom Suite': 102,
 'Superior Queen Suite with Sofa Bed': 101,
 'Twin Deluxe Room': 100,
 'Family Room 2 Adults 1 Child': 100,
 'Comfort Double or Twin Room 1 2 Adults': 100,
 'Compact Double Room with Private Bathroom': 100,
 'Deluxe Double Room with River View': 100,
 'Standard Double Room with Park View': 99,
 'Classic Double or Twin Room 1 2 Adults': 99,
 'Apartment': 99,
 'One Room Suite with Kitchenette': 99,
 'Privilege Room with a double bed upper floors': 99,
 'Standard Double Room with Two Single Beds': 98,
 'Deluxe Room with Two Double Beds': 97,
 'Classic Double or Single Room': 97,
 'Premier Twin Room': 96,
 'Souterrain Double Room': 96,
 'Single Room Annex': 96,
 'Double Room Free Wi Fi': 95,
 'Superior Plus Double Room': 94,
 'Superior Room with 1 kingsize bed': 94,
 'Deluxe Double Room with Terrace': 94,
 'Discovery Double Room': 93,
 'Deluxe Double Room with State Opera View': 93,
 'Comfort Double or Twin Room Non Smoking': 92,
 'Deluxe Double Room with City View': 92,
 'Queen Bed Leisure': 91,
 'Standard Room for 1 or 2 people with Kitchenette': 91,
 'Junior Suite 1 2 Adults': 91,
 'Deluxe Double or Twin Room 2 adults 1 child': 90,
 'Deluxe Queen Room with River View': 90,
 'Duplex Room': 90,
 'Queen Room Upper Floors': 88,
 'King Executive Room with Lounge Access': 88,
 'Comfort Single Room': 87,
 'Stayed 15 nights': 87,
 'Double Room Curieuse': 87,
 'Single Room with Double Bed': 86,
 'Queen Guestroom': 85,
 'Twin Superior Room': 85,
 'Executive Double Room with Whirlpool': 85,
 'Special Offer Double or Twin Room': 85,
 'Double Room Cosy': 85,
 'Standard Guest Room': 84,
 'Superior Double Room with free unlimited WIFI': 84,
 'Mini Room': 84,
 'Twin Room with Spa Bath': 84,
 'Superior Room with Queensize Bed and Single Sofa Bed': 84,
 'Superior Double Bedroom': 84,
 'Club Double or Twin Room': 83,
 'Cozy Double or Twin Room': 83,
 'Superior Double or Twin Room with Free Wifi': 83,
 'Maisonette': 82,
 'Standard Room with Queensize bed and Single Sofa Bed': 82,
 'Deluxe Double Room with Spa Bath': 82,
 'Executive Room with City View': 82,
 'Classic Guest room 1 King or 2 Twin Single Bed s': 82,
 'Small Double or Twin Room': 82,
 'Executive Twin Room with Lounge Access': 82,
 'King Deluxe Room': 81,
 'Triple Family Guestroom': 81,
 'Marina Double Suite': 81,
 'Executive Studio City View': 81,
 'Accessible Queen Guest Room': 80,
 'Double Queen Waterfront': 80,
 'Executive Club Room': 79,
 'Special Room': 79,
 'Duplex Suite': 79,
 'Junior Double': 78,
 'Superior M Double Room': 78,
 'Executive Queen Room': 78,
 'Single Guest Room': 78,
 'Fabulous Double or Twin Room': 78,
 'Deluxe Double Room with Eiffel Tower view': 77,
 'Family Room 4 guest': 77,
 'Wonderful Exchange King': 77,
 'Deluxe Single Room with View': 76,
 'Superior Double Room with View': 76,
 'Corner Suite': 76,
 'King Room with Balcony': 76,
 'Triple Hilton Family Room': 76,
 'Andaz Double Room': 75,
 'Deluxe Studio Suite': 75,
 'Apartment 1 2 Adults': 75,
 'Art Room with Iconic View': 74,
 'Quality Single Room': 74,
 'Duplex Junior Suite with Spa access': 74,
 'Executive Double Room with Air Conditioning': 74,
 'Garden King Room': 73,
 'Luxury Four Poster': 73,
 'Twin Room with Public Transport Ticket': 73,
 'Superior Double or Twin Room with Spa Access': 73,
 'Eiffel Tower View King Room': 73,
 'King Guestroom': 73,
 'Superior Double or Twin Room XL': 73,
 'Superior Double Double': 72,
 'Executive King Room Non Smoking': 72,
 'Standard Room with 1 Double Bed and 1 Sofa Bed': 72,
 'Superior Double or Twin Room with City View': 72,
 'Double Family Guestroom': 71,
 'Classic Double Room with Garden View': 71,
 'Family Suite 2 Adults 2 Children': 71,
 'Classic Room with Queen Bed': 71,
 'Double Room with Garden View': 71,
 'Superior Double Room with Queen size bed': 71,
 'Superior Room with City View': 71,
 'Superior Room with Spa Fitness Access': 70,
 'Souterrain Comfort Room': 70,
 'Superior Double Room with Balcony and City View': 69,
 'Two Bedroom Suite': 69,
 'Junior Triple Room': 69,
 'Standard Apartment': 69,
 'Business Class Room': 69,
 'Junior Suite 3 Adults': 69,
 'Standard Double or Twin Room with Extra bed 2 Adults 1 Child': 68,
 'Executive Queen Room with Sofa': 68,
 'Penthouse Suite with Terrace and City View': 68,
 'Standard Studio': 68,
 'Business Single Room': 68,
 'Secret Double Room': 68,
 'Standard Double Room with View': 68,
 'Superior Queen Room with Single Sofa Bed': 68,
 'Deluxe Room with Courtyard View': 68,
 'Superior Room with 1 Queen Bed 1 Sofa Bed': 68,
 'Superior Room with Double Bed and Sofa Bed': 67,
 'Studio Room': 67,
 'Deluxe Double or Twin Room with Terrace': 67,
 'King Hilton Guestroom': 67,
 'Executive Double': 67,
 'Superior Room with View of Big Ben': 67,
 'Executive Queen Room with Balcony': 67,
 'X Ordinary Room': 66,
 'Royal Mews View Classic Double': 66,
 'Deluxe Double Room Canal View': 66,
 'Design Double or Twin Room': 65,
 'Superior Room with 1 Double Bed': 65,
 'Standard Room with One Double Bed and Single Sofa Bed': 65,
 'Superior Family Room 2 Adults 1 Child': 65,
 'Family Room with Spa access': 65,
 'Double Room Attic': 65,
 'Standard Double Room with Queen Bed': 65,
 'Classic Triple Room 3 Adults': 64,
 'Luxury Family Room': 64,
 'Privilege King Room': 64,
 'Double Room Intemporelle': 64,
 'Deluxe Double Room with Private Access to Pool and Spa': 63,
 'Tradition Double Room': 63,
 'Double Hilton Deluxe': 63,
 'Queen Guest Room with River View': 62,
 'Premier Room with Balcony': 62,
 'penta Standard Room': 62,
 'Classic Double Room Loge Classique': 61,
 'Superior Plus Twin Room': 61,
 'Double Room with French Bed': 61,
 'Double Room with Private Bathroom': 61,
 'Budget Single Room': 61,
 'Premier King Room Barlow Wing': 60,
 'Deluxe King Room with Water View': 60,
 'Classique Double Room': 60,
 'Twin Room 1 2 Adults': 60,
 'Queen Deluxe Room': 59,
 'Standard Double or Twin Room Annex Building': 59,
 'Twin Hilton Deluxe Room': 59,
 'King Superior Room': 58,
 'Superior Deluxe Double or Twin Room': 58,
 'Deluxe Double Twin Room': 58,
 'Superior Queen Room with 2 Single Sofa Beds': 58,
 'Quintuple Room': 58,
 'Chelsea Twin Suite': 57,
 'Superior Studio': 57,
 'Superior Twin or Double Room': 57,
 'Deluxe': 57,
 'Classic Double Room with Breakfast': 57,
 'One Bed Feature Room': 57,
 'Deluxe Double Room 1 2 adults': 57,
 'Queen or Twin Room': 56,
 'Small Double Room Annex building': 56,
 'Privilege Room': 56,
 'Double Room with Free Airport Shuttle Service from 5 00am to 00 30am': 56,
 'Family Superior Room': 56,
 'Superior Twin Room with View': 55,
 'Standard Double or Twin Room 1 2 Adults': 55,
 'Luxury King Room': 55,
 'Double or Twin Room with Extra Bed with Balcony': 55,
 'Suite with Hot Tub': 55,
 'Cozy Exchange King': 55,
 'Superior Quadruple Room': 55,
 'Double Room Medium': 54,
 'Superior Double or Twin Room with Balcony': 54,
 'Twin Room with Free Airport Shuttle Service from 5 00am to 00 30am': 54,
 'Superior Queen Room with Double Sofa': 54,
 'Single Hilton Guestroom': 54,
 'Privilege Room with Double Bed': 54,
 'Single Room with Private Bathroom': 54,
 'Double or Twin Room 2 Adults': 53,
 'Family Room with King Bed': 53,
 'Treat your Partner Package Double Room': 53,
 'Superior King': 52,
 'Special Offer Executive Double Twin Room with Access to Nagomi Health': 52,
 'Superior Queen Suite with Sofa': 52,
 'Double Family Guest Room': 52,
 'Queen Room with Eiffel Tower View': 52,
 'Grand Deluxe King or Twin Room': 52,
 'Montcalm Club Double Room': 52,
 'Condal Double or Twin Room': 51,
 'Superior Room with canal view': 51,
 'Superior Room with Two Double Beds and Balcony': 51,
 'Basic Double': 51,
 'Executive King Room Non Smoking with Executive Lounge Access': 51,
 'Luxury Double or Twin Room': 51,
 'Deluxe Double Room Annex': 50,
 'Economy Double or Twin Room': 50,
 'Superior Double Room with Park View': 50,
 'Standard Double or Twin Room with Balcony 1 Adult': 50,
 'Executive King Room with Air Conditioning': 50,
 'Deluxe Eiffel Tower King Room': 50,
 'Standard Studio Suite': 50,
 'Art Twin Room': 49,
 'Special Offer Double Twin Room Stay and Park': 49,
 'Double or Twin Room 1 or 2 adults': 49,
 'Superior Double Room with Private Patio': 49,
 'Standard Room with Spa Access': 49,
 'Triple Studio': 49,
 'Deluxe Double Room with Garden View': 49,
 'Superior Twin Room with Two Double Beds': 49,
 'Deluxe Double or Twin Room with Spa Access': 49,
 'Aldwych Double Twin Room': 49,
 'Large King Room': 48,
 'Classic Family Room': 48,
 'Classic Twin Room with Garden View': 48,
 'Comfort Quadruple Room': 48,
 'Double or Twin Room with Terrace and Spa Access': 48,
 'Superior Family Room 2 Adults 2 Children': 48,
 'Executive Junior Suite': 47,
 'Superior Room with Queensize Bed and Single Sofa Bed 2 Adults 1 Child': 47,
 'Double Room XL': 47,
 'Luxury Room 1 Queensize Bed Twin bedded Room On Request': 47,
 'Single Studio': 47,
 'King Guest Room Wheelchair Accessible': 46,
 'Standard Room with queen size bed and double sofa bed': 46,
 'Deluxe King Room with Terrace': 46,
 'Grand Superior King or Twin Room': 46,
 'King City View Room': 46,
 'Deluxe Double Room with Four Poster Bed': 46,
 'Executive Double or Twin Room with Spa Access': 46,
 'Standard Double or Twin Room Tea Time Wine Tasting Included': 46,
 'King Room with River View': 45,
 'Junior King Suite': 45,
 'Hilton Deluxe King Room': 45,
 'Delightful Queen Room': 45,
 'Superior Twin Room with Extra Bed': 45,
 'Executive Double Room with Lounge Access': 45,
 'Comfort Double or Twin Room with Extra Bed': 45,

In [6]:
def transform_tags(cell):
    cell = cell.replace('[', '').replace(']', '')\
        .replace('\' ', '').replace(' \'', '').split(', ')
    return cell

def get_country(cell):
    cell = cell.split()
    if cell[-1] == 'Kingdom':
        return ' '.join(cell[-2:])
    else:
        return str(*cell[-1:])

def get_city(cell):
    cell = cell.split()
    if cell[-1] == 'Kingdom':
        return str(*cell[-5:-4])
    else:
        return str(*cell[-2:-1])
    


hotels['country'] = hotels['hotel_address'].apply(get_country)
hotels['city'] = hotels['hotel_address'].apply(get_city)
hotels['tags'] = hotels['tags'].apply(transform_tags)

In [7]:
hotels['count_tags'] = hotels['tags'].apply(len)

In [8]:
hotels['days_since_review'] = hotels['days_since_review'].apply(lambda x: int(x.split()[0]))
hotels

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng,country,city,count_tags
0,Stratton Street Mayfair Westminster Borough Lo...,581,2016-02-19,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[Leisure trip, Couple, Studio Suite, Stayed 2 ...",531,51.507894,-0.143671,United Kingdom,London,5
1,130 134 Southampton Row Camden London WC1B 5AF...,299,2017-01-12,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[Business trip, Couple, Standard Double Room, ...",203,51.521009,-0.123097,United Kingdom,London,4
2,151 bis Rue de Rennes 6th arr 75006 Paris France,32,2016-10-18,8.9,Legend Saint Germain by Elegancia,China,No kettle in room,6,406,No Positive,0,14,7.5,"[Leisure trip, Solo traveler, Modern Double Ro...",289,48.845377,2.325643,France,Paris,5
3,216 Avenue Jean Jaures 19th arr 75019 Paris Fr...,34,2015-09-22,7.5,Mercure Paris 19 Philharmonie La Villette,United Kingdom,No Negative,0,607,Friendly staff quiet comfortable room spotles...,11,8,10.0,"[Leisure trip, Solo traveler, Standard Room wi...",681,48.888697,2.394540,France,Paris,4
4,Molenwerf 1 1014 AG Amsterdam Netherlands,914,2016-03-05,8.5,Golden Tulip Amsterdam West,Poland,Torn sheets,4,7586,The staff was very friendly and helpful Break...,20,10,9.6,"[Business trip, Couple, Standard Double or Twi...",516,52.385601,4.847060,Netherlands,Amsterdam,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386798,9 Knaresborough Place Kensington and Chelsea L...,107,2017-04-19,9.0,Hotel Moonlight,France,No Negative,0,617,Tr s proche du metro Earl s court,10,10,8.8,"[Leisure trip, Group, Club Double or Twin Room...",106,51.494028,-0.191050,United Kingdom,London,5
386799,Landstra er Hauptstra e 155 03 Landstra e 1030...,272,2017-02-13,8.4,BEST WESTERN PLUS Amedia Wien,Turkey,No Negative,0,3224,The bed was so comfy I stayed with my boyfrie...,93,1,9.2,"[Leisure trip, Couple, Standard Double Room, S...",171,48.192379,16.399451,Austria,Vienna,5
386800,29 31 Gower Street Camden London WC1E 6HG Unit...,457,2016-02-07,6.8,Bloomsbury Palace Hotel,Netherlands,room is really small but guess is normal in L...,12,2751,great location simple check in out nice shower,9,21,8.3,"[Business trip, Solo traveler, Single Room, St...",543,51.520795,-0.131084,United Kingdom,London,4
386801,31 Great Cumberland Place Westminster Borough ...,365,2017-05-21,8.1,The Marble Arch London,United Arab Emirates,No Negative,0,1567,Location and very comfy bed,6,28,9.2,"[Leisure trip, Solo traveler, Deluxe Double Ro...",74,51.515125,-0.160066,United Kingdom,London,4
386802,25 Courtfield Gardens Kensington and Chelsea L...,222,2016-08-05,9.0,The Nadler Kensington,Australia,Patio outside could have been cleaned of alga...,20,1209,Beds comfortable Pillows also good Homely fee...,20,2,8.8,"[Leisure trip, Couple, Bunk Bed Room, Stayed 4...",363,51.493109,-0.190208,United Kingdom,London,4

In [9]:
hotels['positive_review'].value_counts().head(25)

No Positive            26885
 Location               6833
 Everything             1697
 location               1251
 Nothing                 931
 The location            830
 Great location          809
 Good location           690
 Location                663
 Breakfast               455
 Everything              449
 Friendly staff          385
 Staff                   347
 Excellent location      296
 Great location          280
 Location and staff      256
 everything              233
 Good location           214
 Nothing                 170
 nothing                 159
 Comfy bed               158
 The location            152
 good location           151
 The staff               151
 the location            141
Name: positive_review, dtype: int64

In [10]:
def pos_update(cell):
    replace_dict = {
        'no positive': 'no_positive',
        'location': 'good_location',
        'everything': 'all_good',
        'nothing': 'all_good',
        'breakfast': 'good_brealfast',
        'staff': 'good_staff',
        'bed': 'good_bed'   
    }
    for key in replace_dict.keys():
        if cell.lower().find(key) > 0:
            return replace_dict[key]

    return 'no_positive'
        
hotels['positive_review_update'] = hotels['positive_review'].apply(pos_update)

In [11]:
hotels['positive_review_update'].value_counts()

good_location     142044
no_positive       108533
good_staff         62610
good_brealfast     36944
good_bed           18641
all_good           18031
Name: positive_review_update, dtype: int64

In [12]:
hotels['negative_review'].value_counts().head(25)

No Negative            95907
 Nothing               10737
 Nothing                3154
 nothing                1660
 N A                     802
 None                    737
                         606
 N a                     384
 Breakfast               296
 Small room              283
 Location                281
 All good                251
 Everything              251
 Nothing really          240
 none                    223
 nothing                 219
 No complaints           201
 Nil                     197
 Nothing really          195
 Price                   192
 n a                     176
 Nothing to dislike      159
 Nothing at all          154
 Nothing at all          139
 Small rooms             135
Name: negative_review, dtype: int64

In [13]:
def neg_update(cell):
    replace_dict = {
        'no negative': 'no_negative',
        'location': 'bad_location',
        'everything': 'all_bad',
        'nothing': 'all_bad',
        'breakfast': 'bad_brealfast',
        'price': 'bad_price',
        'room': 'bad_room',
        'none': 'no_negative',
        'n a': 'no_negative',
        'all good': 'no_negative',
        '': 'no_negative',
        'no complaints': 'no_negative',
        'nil': 'no_negative'        
    }
    for key in replace_dict.keys():
        if cell.lower().find(key) > 0:
            return replace_dict[key]

    return 'no_negative'
        
hotels['negative_review_update'] = hotels['negative_review'].apply(neg_update)

In [14]:
city_geo = hotels.groupby('city').mean()
city_geo

C:\Users\cahek\AppData\Local\Temp\ipykernel_30184\1480165791.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  city_geo = hotels.groupby('city').mean()

,additional_number_of_scoring,average_score,review_total_negative_word_counts,total_number_of_reviews,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,days_since_review,lat,lng,count_tags
city,,,,,,,,,,,
Amsterdam,491.355602,8.387432,19.556853,3418.148351,19.577617,6.864275,8.449214,341.595684,52.362209,4.885346,4.584128
Barcelona,241.869560,8.521018,18.127382,2311.269055,19.733604,7.222171,8.553747,352.394775,41.389125,2.169152,4.580231
London,715.128559,8.340255,19.206933,2987.226915,16.459136,6.242146,8.326884,355.836513,51.510737,-0.139075,4.583700
Milan,267.024531,8.427651,17.479217,3476.593552,18.055051,10.053653,8.355482,347.304415,45.479619,9.191844,4.531722
Paris,148.681039,8.408711,16.788958,1277.385835,18.905800,7.776377,8.420587,361.303725,48.863658,2.326816,4.563350
Vienna,200.371376,8.557732,16.872370,2332.566214,18.983926,10.206080,8.552642,362.700631,48.203368,16.367176,4.482007

In [15]:
for city in city_geo.index:
    hotels[hotels['city'] == city]['lat'] = hotels['lat'].fillna(city_geo['lat'][city], inplace=True)
    hotels[hotels['city'] == city]['lng'] = hotels['lng'].fillna(city_geo['lng'][city], inplace=True)

C:\Users\cahek\AppData\Local\Temp\ipykernel_30184\1997485896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotels[hotels['city'] == city]['lat'] = hotels['lat'].fillna(city_geo['lat'][city], inplace=True)
C:\Users\cahek\AppData\Local\Temp\ipykernel_30184\1997485896.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotels[hotels['city'] == city]['lng'] = hotels['lng'].fillna(city_geo['lng'][city], inplace=True)

In [43]:
hotels_encoding = hotels.copy()
for tag in list(sorted_tags)[:20]:
    hotels_encoding[tag] = hotels_encoding['tags'].apply(lambda x: 1 if tag in x else 0)

In [47]:
hotels_encoding = pd.get_dummies(hotels_encoding, columns=['country', 'city', 'positive_review_update', 'negative_review_update'])

In [48]:
hotels_encoding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 62 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  datetime64[ns]
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  int64
 15  lat                                         386803 non-null  float64
 16  lng                                         386803 non-null  float64
 17  count_tags                                  386803 non-null  int64
 18  Leisure trip                                386803 non-null  int64
 19  Submitted from a mobile device              386803 non-null  int64
 20  Couple                                      386803 non-null  int64
 21  Stayed 1 night                              386803 non-null  int64
 22  Stayed 2 nights                             386803 non-null  int64
 23  Solo traveler                               386803 non-null  int64
 24  Stayed 3 nights                             386803 non-null  int64
 25  Business trip                               386803 non-null  int64
 26  Group                                       386803 non-null  int64
 27  Family with young children                  386803 non-null  int64
 28  Stayed 4 nights                             386803 non-null  int64
 29  Double Room                                 386803 non-null  int64
 30  Standard Double Room                        386803 non-null  int64
 31  Superior Double Room                        386803 non-null  int64
 32  Family with older children                  386803 non-null  int64
 33  Deluxe Double Room                          386803 non-null  int64
 34  Double or Twin Room                         386803 non-null  int64
 35  Stayed 5 nights                             386803 non-null  int64
 36  Standard Double or Twin Room                386803 non-null  int64
 37  Classic Double Room                         386803 non-null  int64
 38  country_Austria                             386803 non-null  uint8
 39  country_France                              386803 non-null  uint8
 40  country_Italy                               386803 non-null  uint8
 41  country_Netherlands                         386803 non-null  uint8
 42  country_Spain                               386803 non-null  uint8
 43  country_United Kingdom                      386803 non-null  uint8
 44  city_Amsterdam                              386803 non-null  uint8
 45  city_Barcelona                              386803 non-null  uint8
 46  city_London                                 386803 non-null  uint8
 47  city_Milan                                  386803 non-null  uint8
 48  city_Paris                                  386803 non-null  uint8
 49  city_Vienna                                 386803 non-null  uint8
 50  positive_review_update_all_good             386803 non-null  uint8
 51  positive_review_update_good_bed             386803 non-null  uint8
 52  positive_review_update_good_brealfast       386803 non-null  uint8
 53  positive_review_update_good_location        386803 non-null  uint8
 54  positive_review_update_good_staff           386803 non-null  uint8
 55  positive_review_update_no_positive          386803 non-null  uint8
 56  negative_review_update_all_bad              386803 non-null  uint8
 57  negative_review_update_bad_brealfast        386803 non-null  uint8
 58  negative_review_update_bad_location         386803 non-null  uint8
 59  negative_review_update_bad_price            386803 non-null  uint8
 60  negative_review_update_bad_room             386803 non-null  uint8
 61  negative_review_update_no_negative          386803 non-null  uint8
dtypes: datetime64[ns](1), float64(4), int64(27), object(6), uint8(24)
memory usage: 121.0+ MB

In [49]:
hotels_encoding.drop(columns=['tags', 'hotel_address', 'hotel_name',
                              'reviewer_nationality', 'negative_review', 
                              'positive_review'], inplace=True)
hotels_encoding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 56 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  int64
 1   review_date                                 386803 non-null  datetime64[ns]
 2   average_score                               386803 non-null  float64
 3   review_total_negative_word_counts           386803 non-null  int64
 4   total_number_of_reviews                     386803 non-null  int64
 5   review_total_positive_word_counts           386803 non-null  int64
 6   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 7   reviewer_score                              386803 non-null  float64
 8   days_since_review                           386803 non-null  int64
 9   lat                                         386803 non-null  float64
 10  lng                                         386803 non-null  float64
 11  count_tags                                  386803 non-null  int64
 12  Leisure trip                                386803 non-null  int64
 13  Submitted from a mobile device              386803 non-null  int64
 14  Couple                                      386803 non-null  int64
 15  Stayed 1 night                              386803 non-null  int64
 16  Stayed 2 nights                             386803 non-null  int64
 17  Solo traveler                               386803 non-null  int64
 18  Stayed 3 nights                             386803 non-null  int64
 19  Business trip                               386803 non-null  int64
 20  Group                                       386803 non-null  int64
 21  Family with young children                  386803 non-null  int64
 22  Stayed 4 nights                             386803 non-null  int64
 23  Double Room                                 386803 non-null  int64
 24  Standard Double Room                        386803 non-null  int64
 25  Superior Double Room                        386803 non-null  int64
 26  Family with older children                  386803 non-null  int64
 27  Deluxe Double Room                          386803 non-null  int64
 28  Double or Twin Room                         386803 non-null  int64
 29  Stayed 5 nights                             386803 non-null  int64
 30  Standard Double or Twin Room                386803 non-null  int64
 31  Classic Double Room                         386803 non-null  int64
 32  country_Austria                             386803 non-null  uint8
 33  country_France                              386803 non-null  uint8
 34  country_Italy                               386803 non-null  uint8
 35  country_Netherlands                         386803 non-null  uint8
 36  country_Spain                               386803 non-null  uint8
 37  country_United Kingdom                      386803 non-null  uint8
 38  city_Amsterdam                              386803 non-null  uint8
 39  city_Barcelona                              386803 non-null  uint8
 40  city_London                                 386803 non-null  uint8
 41  city_Milan                                  386803 non-null  uint8
 42  city_Paris                                  386803 non-null  uint8
 43  city_Vienna                                 386803 non-null  uint8
 44  positive_review_update_all_good             386803 non-null  uint8
 45  positive_review_update_good_bed             386803 non-null  uint8
 46  positive_review_update_good_brealfast       386803 non-null  uint8
 47  positive_review_update_good_location        386803 non-null  uint8
 48  positive_review_update_good_staff           386803 non-null  uint8
 49  positive_review_update_no_positive          386803 non-null  uint8
 50  negative_review_update_all_bad              386803 non-null  uint8
 51  negative_review_update_bad_brealfast        386803 non-null  uint8
 52  negative_review_update_bad_location         386803 non-null  uint8
 53  negative_review_update_bad_price            386803 non-null  uint8
 54  negative_review_update_bad_room             386803 non-null  uint8
 55  negative_review_update_no_negative          386803 non-null  uint8
dtypes: datetime64[ns](1), float64(4), int64(27), uint8(24)
memory usage: 103.3 MB

In [56]:
hotels_encoding.drop(columns=['review_date'], inplace=True)
#hotels_encoding['review_date'] = hotels_encoding['review_date'].values.astype('datetime64[D]')

In [57]:
hotels_encoding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 55 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                386803 non-null  int64
 1   average_score                               386803 non-null  float64
 2   review_total_negative_word_counts           386803 non-null  int64
 3   total_number_of_reviews                     386803 non-null  int64
 4   review_total_positive_word_counts           386803 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 6   reviewer_score                              386803 non-null  float64
 7   days_since_review                           386803 non-null  int64
 8   lat                                         386803 non-null  float64
 9   lng                                         386803 non-null  float64
 10  count_tags                                  386803 non-null  int64
 11  Leisure trip                                386803 non-null  int64
 12  Submitted from a mobile device              386803 non-null  int64
 13  Couple                                      386803 non-null  int64
 14  Stayed 1 night                              386803 non-null  int64
 15  Stayed 2 nights                             386803 non-null  int64
 16  Solo traveler                               386803 non-null  int64
 17  Stayed 3 nights                             386803 non-null  int64
 18  Business trip                               386803 non-null  int64
 19  Group                                       386803 non-null  int64
 20  Family with young children                  386803 non-null  int64
 21  Stayed 4 nights                             386803 non-null  int64
 22  Double Room                                 386803 non-null  int64
 23  Standard Double Room                        386803 non-null  int64
 24  Superior Double Room                        386803 non-null  int64
 25  Family with older children                  386803 non-null  int64
 26  Deluxe Double Room                          386803 non-null  int64
 27  Double or Twin Room                         386803 non-null  int64
 28  Stayed 5 nights                             386803 non-null  int64
 29  Standard Double or Twin Room                386803 non-null  int64
 30  Classic Double Room                         386803 non-null  int64
 31  country_Austria                             386803 non-null  uint8
 32  country_France                              386803 non-null  uint8
 33  country_Italy                               386803 non-null  uint8
 34  country_Netherlands                         386803 non-null  uint8
 35  country_Spain                               386803 non-null  uint8
 36  country_United Kingdom                      386803 non-null  uint8
 37  city_Amsterdam                              386803 non-null  uint8
 38  city_Barcelona                              386803 non-null  uint8
 39  city_London                                 386803 non-null  uint8
 40  city_Milan                                  386803 non-null  uint8
 41  city_Paris                                  386803 non-null  uint8
 42  city_Vienna                                 386803 non-null  uint8
 43  positive_review_update_all_good             386803 non-null  uint8
 44  positive_review_update_good_bed             386803 non-null  uint8
 45  positive_review_update_good_brealfast       386803 non-null  uint8
 46  positive_review_update_good_location        386803 non-null  uint8
 47  positive_review_update_good_staff           386803 non-null  uint8
 48  positive_review_update_no_positive          386803 non-null  uint8
 49  negative_review_update_all_bad              386803 non-null  uint8
 50  negative_review_update_bad_brealfast        386803 non-null  uint8
 51  negative_review_update_bad_location         386803 non-null  uint8
 52  negative_review_update_bad_price            386803 non-null  uint8
 53  negative_review_update_bad_room             386803 non-null  uint8
 54  negative_review_update_no_negative          386803 non-null  uint8
dtypes: float64(4), int64(27), uint8(24)
memory usage: 100.3 MB

In [58]:
#    ,        
#  -     ,  -   ( )  
X = hotels_encoding.drop(['reviewer_score'], axis = 1)  
y = hotels_encoding['reviewer_score']

In [59]:
#     :  
from sklearn.model_selection import train_test_split

In [60]:
#     "train"     , "test" -  .  
#      25%   .  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [61]:
#   :  
from sklearn.ensemble import RandomForestRegressor #        
from sklearn import metrics #       
  
#    
regr = RandomForestRegressor(n_estimators=100)  
      
#        
regr.fit(X_train, y_train)  
      
#          .  
#      y_pred  
y_pred = regr.predict(X_test)

In [62]:
#    (y_pred)   (y_test),       
#   Mean Absolute Percentage Error (MAPE)          .  
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.13282410457854182